@{
    ViewBag.Title = "Home";
}
    <div class="jumbotron">
        <h1>Pasteleria Le Chad</h1>
        <p class="lead">Bienvenido a nuestra pagina web, aqui podas encontrar todo lo que ofrecemos!</p>
        <p><a href="Home/Menu" class="btn btn-primary btn-lg">Menu &raquo;</a></p>
    </div>

    <div>
        <img align="middle" src="~/chadcake.png" width="400" height="500" class="center">
    </div>
        

    <div class="row">
        <div class="col-md-3">
            <h2>Direccion</h2>
            <p>Plaza Interchange, Local #777</p>
            <p>Interchange, Tarkov CP 7769</p>
            <p><a class="btn btn-default" href="https://www.eftmaps.net/wp-content/uploads/2020/05/interchange_map.png">Google Maps &raquo;</a></p>
        </div>

        <div class="col-md-3">
            <h2>Contactanos</h2>
            <p>Telefono: 01-800-HEAD-EYES</p>
            <p>WhatsApp: 55 7777 7777</p>
            <p>Email: contacto@lechad.com</p>
        </div>
        <div class="col-md-3">
            <h2>Horarios</h2>
            <p>Lunes - Viernes: 9AM - 7PM</p>
            <p>Sabados: 10AM - 5PM</p>
            <p>Domingos: Solo entregas, sobre pedidos. 10AM - 5PM</p>
        </div>
    </div>
