
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tamaños</h2>
<table>
    <tr>
        <td>Pequeño</td>
        <td>$50</td>
    </tr>
    <tr>
        <td>Mediano</td>
        <td>$75</td>
    </tr>
    <tr>
        <td>Grande</td>
        <td>$100</td>
    </tr>
</table>

<hr>

<h2>Sabores</h2>
<table>
    <tr>
        <td>Chocolate</td>
        <td>$25</td>
    </tr>
    <tr>
        <td>Fresa</td>
        <td>$27</td>
    </tr>
    <tr>
        <td>Vainilla</td>
        <td>$20</td>
    </tr>
    <tr>
        <td>Menta</td>
        <td>$30</td>
    </tr>
</table>

<hr>

<h2>Adornos</h2>
<table>
    <tr>
        <td>Frosting</td>
        <td>$20</td>
    </tr>
    <tr>
        <td>Chispas</td>
        <td>$10</td>
    </tr>
    <tr>
        <td>Letras</td>
        <td>$15</td>
    </tr>
</table>

<div class="jumbotron">
    <p><a href="Ordenar" class="btn btn-primary btn-lg">Ordenar &raquo;</a></p>
</div>
