
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sabores para pasteles restantes: </h2>
<p>Chocolate: 7</p>
<p>Fresa: 5</p>
<p>Vainilla: 11</p>
<p>Menta: 6</p>

<h2>Adornos Restantes</h2>
<p>Frosting: 8</p>
<p>Chispas: 16</p>

<h2>Ordenes por Hacer</h2>
<table class="tab">
    <tr>
        <th>Cliente</th>
        <th>Correo</th>
        <th>Numero</th>
        <th>Fecha Pedido</th>
        <th>Fecha Entrega</th>
    </tr>
    <tr>
        <td>
            Tony
        </td>
        <td>
            toeknee@tarky.ru
        </td>
        <td>
            55-777-777
        </td>
        <td>
            06/03/2022
        </td>
        <td>
            07/03/2022
        </td>
    </tr>
    <tr>
        <td>
            Nikkita
        </td>
        <td>
            nikkita@blyat.ru
        </td>
        <td>
            55-699-699
        </td>
        <td>
            06/03/2022
        </td>
        <td>
            08/03/2022
        </td>
    </tr>
</table>

<style>
    h1 {
        text-align: center;
    }

    body {
        min-height: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    footer {
        background-color: blanchedalmond;
        margin-top: 100px;
        position: relative;
        clear: both;
        height: 100px
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }

    .centertb {
        margin-left: 43%;
        margin-right: 75%;
        text-size-adjust: 80;
    }

    .right {
        display: block;
        text-align: left;
        padding-left: 50;
    }

    .z {
        position: absolute;
        width: 99%;
        background-color: blanchedalmond;
    }

    .y {
        position: absolute;
        left: 45%;
        background-color: blanchedalmond;
    }

    .x {
        position: absolute;
        left: 90%;
        ;
    }

    table, th, td {
        border: 2px solid
    }
</style>